<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oranle.es">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.SessionApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppSplashTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".module.ui.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.ui.home.HomeActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.administrator.AdministratorActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".module.ui.detail.InnovationDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".module.base.WebViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.ListActivityDemo"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.login.ExaminationSystemLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.examination.inportFile.FileImportActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.senior.SeniorAdminActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".module.ui.administrator.AddPersonalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.innovation.InnovationActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.examinee.ExamineeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".module.ui.examinee.ExamActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name=".module.ui.innovation.AnalogyActivity" />
        <activity android:name=".module.ui.innovation.DialecticalActivity" />
        <activity android:name=".module.ui.innovation.DigitalActivity" />
        <activity android:name=".module.ui.innovation.DivergentActivity" />
        <activity android:name=".module.ui.innovation.DivergentThinkActivity" />
        <activity android:name=".module.ui.innovation.ImageActivity" />
        <activity android:name=".module.ui.innovation.LenovoActivity" />
        <activity android:name=".module.ui.innovation.LogicActivity" />
        <activity android:name=".module.ui.innovation.LogicThinkActivity" />
        <activity android:name=".module.ui.innovation.MathematicalActivity" />
        <activity android:name=".module.ui.innovation.ReverseActivity" />
        <activity android:name=".module.ui.innovation.StrainActivity" />
        <activity android:name=".module.ui.innovation.TopicActivity" />
        <activity android:name=".module.ui.innovation.WarmActivity" />
        <activity android:name=".module.ui.innovation.CombinedTrainActivity" />
        <activity android:name=".module.ui.innovation.VisionActivity" />

        <receiver
            android:name=".module.receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oranle.es.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>